
     
     /*#create{
         background-image:url(../images/depo.jpeg);
         background-repeat: no-repeat;
         background-size: cover;
*/
     }

.jumbtron{
background-color:lightgrey;

}
h1{
   
   
    text-align: center;
   
}
#me{
  text-align: center;
}
#med{
  text-align: center;
}
/*#Home{
  background-image:url(../images/depo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

}*/
.panel{
  background-color:linen;
}
#regi{
  font-weight: bold;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;


}
/*#acount{
  background-image:url(../images/h1.jpeg) ;
  background-repeat: no-repeat;
  background-size: cover;
}*/
#acount p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
}

#ima{
  text-align: center;
  

  border-radius: 4%;
}
    

.well{
    background-color: bisque;
}
.container1{
  display: none;
}